<div class="card offset-2 col-8 shadow-lg mt-5">
  <h3 class="offset-2 mt-3 fw-bolder">Edit</h3>
  <div class="text-danger text-center mt-4">
    <%= render "layouts/error_messages", model: @knowledge %>
  </div>
  <%= render "knowledge_form" %>
</div>