<div class="row">
    <div class="row border-bottom border-dark">
      <div class="offset-4 col-3 my-1 mt-3"><%= link_to "index", knowledges_path, class: "text-decoration-none link-dark" %></div>
      <div class="col-3 my-2 mt-3"><%= link_to "new", new_knowledge_path, class: "text-decoration-none link-dark" %></div>
    </div>
  <div class="card offset-3 col-6 shadow-lg mt-5">
     <div class="text-danger text-center mt-4">
      <%= render "layouts/error_messages", model: @knowledge %>
    </div>
    <%= render "knowledge_form" %>
  </div>
</div>