<div class="row mb-4">
  <% @categories.each do |category| %>
    <%= link_to category_path(category.id), class: "col-2 text-center ms-4 mb-2 text-decoration-none border border-secondary rounded-pill" do %>
      <span class="align-middle"><%= category.category_name %></span>
    <% end %>
  <% end %>
</div>