<div class="row">
  <div class="text-center offset-1 col-10 mt-3 py-1 bg-white border rounded shadow-lg fw-bolder"><%= @category.category_name %></div>
  <%= render "knowledges/knowledges" %>
  <div class="offset-lg-5 offset-4 mt-4">
    <%= paginate @knowledges, theme: 'bootstrap-5' %>
  </div>
</div>